<h1> Studio Show Page </h1>

<section id="studio-info-">
<h3> <%= @studio.name %></h3>
  <p>Location: <%= @studio.location %></p>
</section>

<section id="actor-info-">
<h4> All Actors that have worked here </h4>

  <% @studio.actors_worked.each do |actor| %>
    <p><%= actor.name %></p>
  < % end %>
  </section>